{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "POKEMON":false,
    "filtrarPokemon":false,
    "sortArrsToObjects":false,
    "calculusStats":false,
    "pokeData":false
  }
}
