@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
*{
    margin: 0;
    padding: 0;
        font-family: Lato,sans-serif;
}

.whiteText{
          color: #fff;
        text-decoration: none;
}


@media (min-width: 300px) {
    .disponibility{
  
        margin: 0 auto;
        font-size: 1.8em;
        text-align: center;
        text-shadow: 0 0 5px rgba(0,0,0,.4);
        padding-bottom: 5%;
    }


h1{
    font-size: 2.5em;
    padding: 20px 10px;
    padding-top: 200px;
    text-align: center;
}
    h1 .gradient-text {
        
        display: block;
        color: #cde8f1;
        -webkit-text-fill-color: transparent;
        background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#9fe1f3));
        background: -o-linear-gradient(top,#fff,#9fe1f3);
        /* background: linear-gradient(to bottom,#fff,#9fe1f3); */
        -webkit-background-clip: text;
        background-size: 0;
        -webkit-background-size: auto;
        -o-background-size: 0;
    text-transform: uppercase;
      
    }
 

    .background1 {
     
        object-fit: cover;
        background-position: 49% 10%;
        background-repeat: no-repeat;
        padding-right: 5%;
        background-size: cover;
        animation-name: backgroundChange;
        animation-duration: 40s;
        animation-iteration-count: infinite;
        transition-duration: 0.7s;
        animation-timing-function: linear;
        
    }


    @keyframes backgroundChange{
        0%    {  background-image: linear-gradient(to bottom,#04dabe ,#9bff7b6e,#3ac3f300 ,#3ac3f300 ,#9bff7b6e,#04dabe7a 100%), url(../src/images/Jigglypuff-singing-in-Detective-Pikachu.jpg);}
        25%  {    background-image: linear-gradient(to bottom,#04dabe ,#9bff7b6e,#3ac3f300 ,#3ac3f300 ,#9bff7b6e,#04dabe7a 100%), url(../src/images/pokemon_detective_pikachu_movie_bulbasaur_morelull_and_justice_smith_holding_pikachu.png);}
        50%  {    background-image: linear-gradient(to bottom,#04dabe ,#9bff7b6e,#3ac3f300 ,#3ac3f300 ,#9bff7b6e,#04dabe7a 100%), url(../src/images/pokemon-go-1.jpg);}
        75%  {    background-image: linear-gradient(to bottom,#04dabe ,#9bff7b6e,#3ac3f300 ,#3ac3f300 ,#9bff7b6e,#04dabe7a 100%), url(../src/images/Capturar-a-Pikachu-en-Pokémon-Go-.jpg);}
        100% {   background-image: linear-gradient(to bottom,#04dabe ,#9bff7b6e,#3ac3f300 ,#3ac3f300 ,#9bff7b6e,#04dabe7a 100%), url(../src/images/detective-pikachu-ryan-reynolds.png);}
    }
.background2{
    background: linear-gradient(to bottom,#3ac3f3 ,#356aaf 100%);
    display: table;

}
.showMobile {
    /* height: 100%; */
    background-image: url(../src/images/hexagonos.png);
    object-fit: cover;
    /* width: 409px; */
    /* background-position: 49% 10%; */
    background-position-x: 17%;
    background-position-y: 26%;
    padding-left: 4%;
    padding-right: 4%;
    height: 114px;
    display: inherit;
    
}
.textMobile{
    display: inline-block;
    background-color: #299ec78c;
    border-radius: 6px;

    padding: 10px 20px;
  
    margin: 39px 0px 21px 0;

    text-align: left;
    font-size: 1.2em;
}

.phoneWhite{
    background: transparent center center no-repeat;
 
}
.phoneX {
    background-image: url(../src/images/Screen.jpg);
    border-radius: 25px;
    height: 297px;
    background-size: 100% 100%;
}

.iconFooter{
    padding: 5px;
    height: 25px;
    width: 25px;
}

.phoneDisplay{
    padding-left: 22%;
    padding-right: 20%;
}

.showMobile {
  
    object-fit: contain;
    /* width: 409px; */
    /* background-position: 49% 10%; */
    background-position-x: 17%;
    background-position-y: 26%;
    padding-left: 4%;
    padding-right: 4%;
    background-image: linear-gradient(to bottom, #9fe1f37a 0%,#0c55a7b5 100%), url(../src/images/hexagonos.png);
}

.three-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.three-col {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.background2 .three-col .col {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 10px 20px;
    max-width: 450px;
    background: linear-gradient(to bottom,#efefef,rgba(255,255,255,.45) 100%);
    border-radius: 4px;
}
 .news-summary {
 
    padding: 16px 10px 9px 55px;
    font-size: 0;
    text-decoration: none;
    min-height: 45px;
    text-align: left;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.play-icon-small {
    width: 55px;
    height: 46px;
    background-position: 40.919% 27.4678%;
    background-size: 109%;
    
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../src/images/pokeButton.png);
}


.button-large .play-icon-large {
    position: absolute;
    top: -28px;
    left: -24px;
    height: 107px;
    width: 98px;
    background-position: 16.957% 44.9766%;

}

.button.button-small .play-icon-small {
    position: absolute;
    top: -13px;
    right: -13px;
    width: 71px;
    height: 59px;
}
 .news-summary-headline {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-transform: none;
    margin: 0;
    position: relative;
    top: -4px;
    line-height: 1.35;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
}

.play-icon-large {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../src/images/pokeButton.png);
    position: absolute;
    top: 3px;
    left: -25px;
    width: 72px;
    height: 67px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    background-position: 21.957% 29.9766%;
    background-size: 100%;
}



.background3{
    background-image: url(../src/images/grass.jpg!d);
    object-fit: cover;
  
}
.col-bg-right {
    margin-bottom: 30px;
    padding: 30px 30px 50px 30px;
}

.col-bg-fill {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 95%;
    background: rgba(0,46,85,.5);
    border-radius: 12px;
  
}
h4 {
    padding: 0 20px 20px 20px;
    font-size: 1.8em;
    font-weight: 100;
    font-size: 2.4em;
    text-transform: uppercase;
    margin: 0;
    padding: 0 30px 30px 0;
    border-bottom: 1px solid #fff;
    position: relative;
 
}
.textSwitch{
    margin-top: 19.5px;
    font-size: 1.05em;
    font-weight: 400;
    line-height: 1.4;
    padding: 0 20px 0 20px;

}
.lets-go-buttons {
    padding: 0 20px;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-top: 30px;
}
.button-wrapper {
    font-size: 1.175em;
    text-align: center;
    margin: 0 auto;
}
.button.button-small {
    padding: 10px 60px 10px 15px;
    height: 16px;
    margin: 30px auto 30px auto;
}
.button {
    display: inline-block;
    border-radius: 20px;
    position: relative;
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    background: #00acee;
    background: linear-gradient(to left,#00acee 4%,#0087e6 33%,#00d1f6 93%);
    padding: 15px 30px 15px 85px;
    margin-left: 10px;
    border: 2px #fff solid;
    text-align: left;
    white-space: nowrap;

    text-decoration: none;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    cursor: pointer;
}
.letsGoPoke{
    height: 249px;
}
.poke-ball-plus {
    padding: 35px 0 0 0;
    box-sizing: border-box;
    background: transparent url(../src/images/poke-ball-plus_0.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 718px;
}
.poke-ball-plus .two-col {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
}
.poke-ball-plus .two-col .col.col-bg-left {
    padding: 30px 30px 50px 30px;
    margin-bottom: 30px;
    flex-basis: 100%;
}
 .col-bg-fill {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 95%;
    border-radius: 12px;
 
    background: rgba(0,46,85,.5);
}
.poke-ball-plus p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.05em;
    font-weight: 600;
    line-height: 1.4;

    margin: 0;
  
}
.poke-ball-plus .poke-ball-plus-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}
.pokeLetsImg{
    width: 260px;
}

.poke-ball-plus h4 {
    font-weight: 200;
    padding: 5%;}
    .poke-ball-plus .two-col .col.col-bg-left {
        padding: 30px 30px 50px 30px;
        margin-bottom: 30px;
    }
    footer {
        background: #0c55a7;
        background: -webkit-gradient(linear,left top,left bottom,from(#0c55a7),to(#31e7f8));
        background: -o-linear-gradient(top,#0c55a7 0,#31e7f8 100%);
        background: linear-gradient(to bottom,#0c55a7 0,#31e7f8 100%);
        border-top: 2px #fff solid;
        min-height: 280px;
        padding: 30px 0 20px 0;
        position: relative;
        overflow: hidden;
    }
    .footer .top-hex {
        background: transparent url(../src/images/hexagonos.png);
        width: calc(100% + 148px);
        height: 217px;
        position: absolute;
        top: 0;
        -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        transform: scaleY(-1);
        animation-name: slide-left-inverted;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        background-position: .453515% -18.484536%;
        background-size: 101.127%;
        animation-timing-function: linear;
        opacity: 0.1;
    }

    @keyframes slide-left-inverted{
        0%   { left: -148px; top:0px;    background-repeat-x: repeat;}
        25%  { left:-100px; top:0px;}
        50%  { left:-100px; top:0px;}
        75%  { left:-20px; top:0px;}
        100% {left:-20px; top:0px;}
    }
    .footer .four-col {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
     position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        max-width: 1024px;
        margin: 0 auto;
    }
    .footer .four-col .col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .footer .three-col {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 1024px;
        margin: 0 auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .col-pad {
        padding: 10px;
    }
    .footer .legal-wrap {
        text-align: center;
        font-size: .8em;
        max-width: 1200px;
        line-height: 1.4;
        text-shadow: 1px 1px 1px rgba(0,0,0,.1);
        margin: 0 auto;
        padding: 10px;

    }

    .footer .two-col {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer .two-col .col {
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
    }
    .footer .two-col .col .col-pad {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
    }
    .footer .social-box {
        background: rgba(0,0,0,.33);
        border-radius: 6px;
        padding: 10px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer .social-box .social-box-text {
        text-transform: uppercase;
   
        padding: 5px;
        margin: 0 auto;
    }
    .footer .circle-arrow-link {

        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.1em;
        font-family: Lato,sans-serif;
        font-weight: 400;
        cursor: pointer;
        position: relative;
    }
    .niantic-logo-white {
        width: 99px;
        height: 124px;
        background-position: .453515% .515464%;
        background-size: 100.127%;
        display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../src/images/niantic_logo.png);
    }
    .footer .four-col .col .col-pad {
     
        text-align: center;
    }
    article{
        width: 103vw;
    }
    footer{
        width: 103vw;
    }
}

.button-footer .play-icon-large{
    top: -12px;
    width: 92px;
    left: -20px;
}



@media (min-width: 423px) {
    .textMobile{
        font-size: 1.5em;
   
    }
    .phoneX {
        height: 418px;
    }
    h1 {
        font-size: 3.3em;
        text-align: center;
    }
    .pokeLetsImg {
        width: 100%;}
      
        h1{
            padding-top: 12px;
            padding-bottom: 302px;
        }
        .textAgroup{
            position: absolute;
            font-size: 4.8rem;
            padding-left: 8%;
            /* font-weight: 600; */
        }
        

        .pokemonLogo{
            padding-bottom: 65px;
        }
      
       
        .letsGoPoke {
            height: 249px;
            left: 57px;
            position: relative;
        }


} 
@media (min-width: 760px) {        .phoneX {
            height: 303px;
        }
.disponibility {
       
            left: 501px;
            font-size: 30px;
            position: absolute;
            top: 503px;
            background-color: #ffffff5e;
            border-radius: 100% 100% 12px 12px/50% 50% 12px 12px;
            margin: -30px 0 0 0;
            padding: 44px 12px 16px 12px;
        }
        h1 {
            padding-top: 12px;
            padding-bottom: 406px;
        } .textMobile {
            font-size: 1em;
            position: absolute;
            top: 406px;
            left: 1%;
            background-color: #0000008c;
     
        }
        .phoneDisplay {
            position: absolute;
            padding-left: 65%;
            padding-right: 0%;
            top: 197px;
        }

        .three-col {
            -ms-flex-wrap: wrap;
            flex-wrap: nowrap;
            position: absolute;
            top: 568px;
        }
        .background2 {
            height: 0vw;
            display: inherit;
        }
            .col-bg-right {
                background-color: #00000094;
                margin-bottom: 30px;
                margin: 5%;
                margin-top: 0px;
    }
    .letsGoPoke {
        height: 100%;
        padding-left: 12%;
        left: 0;
    }
    .button-text {
        font-size: 17px;
    }
    .poke-ball-plus p {
        font-size: 20px;}
        .poke-ball-plus h4 {
            font-size: 2.7em;
            font-weight: 100;
            padding-bottom: 2%;}
          

            .poke-ball-plus .poke-ball-plus-buttons {
                flex-wrap: nowrap;}

                .pokeLetsImg {
                    width: 100%;
                }

                .poke-ball-plus-logo   {
                    width: 43%;
                }

                .poke-ball-plus .poke-ball-plus-buttons {
                    padding-top: 5%;
                    padding-left: 13%;
                    padding-right: 5%;
                }

                .footer .two-col {
                    padding-left: 13%;
                    padding-right: 15%;
                    flex-wrap: nowrap;
                    display: flex;
                }
                .footer .four-col {
                    flex-wrap: nowrap;}
                    .col-bg-fill {
                        width: 51%;
                        left: 32%;
                    }

               
                     
}

@media (min-width: 1020px) {
     .col-bg-right {
                    
                        width: 47%;
                        left: 41%;
                        position: relative;}
                        .letsGoPoke {
                            height: 380px;
                            top: -467px;
                            padding-left: 0%;
                            position: relative;
                        }
                        .background3 {
                            height: 828px;
                        }
                        .textAgroup {
                            position: absolute;
                            font-size: 5.8rem;}
                            .disponibility {
                                left: 66%;}
                                .three-col {
                                    left: 14%;
                                }
                                .textMobile {
                                    font-size: 19px;
                                  
                                    top: 461px;
                                    left: 6%;
                                
                                }
}


@media (min-width: 1340px) {
    .letsGoPoke {
        height: 100%;
        top: -483px;
    }
        .col-bg-right {
            left: 37%;
            top: 129px;}

            .textSwitch {
                font-size: 1.5em;}
                .poke-ball-plus p {
                    font-size: 25px;
                    font-weight: 400;
                }

                .three-col {
                    top: 603px;
                    left: 24%;
                }

                .phoneDisplay {
                    position: absolute;
                    padding-left: 66%;
                    /* padding-right: 0%; */
                    top: 160px;
                }

                .disponibility {
                    left: 67.85%;
                    top: 475px;
                }

                h1 .gradient-text {
                    left: 96px;
                    top: -28px;
                    position: relative;}

                    .textMobile {
                        font-size: 19px;
                                        left: 168px;
                    }

                    h1 {
                        padding-bottom: 458px;
                    }
}
.social-box-icons{
    margin: 0 auto;
}

