@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {

  font-family: 'Raleway', sans-serif;
 

}

.whiteText{
  color: white; 
}

.seleccionarTip{
  background: linear-gradient(to left,#00acee 4%,#0087e6 33%,#00d1f6 93%);
  padding: 6px 16px 6px 27px;
  margin-left: 10px;
  border: 2px #fff solid;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

/* posicion responsive menu*/
nav {

  padding-right: 0.25em;
  position: absolute;
  left: -18em;
  z-index: 20;
  height: 100%;
  padding-top: 7em;
  box-sizing: border-box;
  transition: all .3s;

}

nav ,.card,.list-group-item{}

/*esti.ls pa el cuerpo*/
h1 {    padding-top: .2em;

  text-align: center;
  font-size: 3.5em;
  margin-bottom: .2em;
  margin-left: 35%;
  }
  header,.card-title{
  background: linear-gradient(to left,#00acee 4%,#0087e6 33%,#00d1f6 93%);
  border: 2px #fff solid;
  margin-bottom: 1px !important;
  }  

header {
  height: 20%;
  margin: 0;
 
  display: -webkit-box;
}
.pokeballMini {
  height: 50px;
  margin-top: 1.25em;
  display: flex;
  margin-left: 0.5em;
}
article {
  padding: 0.5em 0;
  line-height: 1.5;
  background: #65aedd;
}

footer {
  background: #305dae;
  border-top: solid rgba(0, 0, 0, .1);
  text-align: right;
  padding: 1em;
}
footer a {


  text-decoration: none
}

footer a:hover {
  text-decoration: underline;

}

/*fin de estilos geerales del cuerpo*/
.card {
  margin-left: 3%;
  width: 12rem;
  margin-top: 4%;
  margin-bottom: 2%;
  border: none;
}

.card-title{
 height: 100%;
 padding: 0;
 font-weight: bold;
 font-size: 25px;
 text-align: center;
 padding-top: .5em;
}
/* .row{
  width: 90% !important;
} */
.card-body {
   flex: none !important; 
   padding: 0 !important; 
}
/*inicio m3nu*/
.menu {
  list-style: none;
  line-height: 42px;
  padding-left: 0;
  width: 15em;

}

.menu a {
  color:#111111;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

.menu li {
  box-shadow: 3px 0#0c55a7b5 inset;
  border-left: 3px solid #008ae6;
  margin-bottom: 5px;
  padding-left: 1.5em;
  --webkit-transition: width 2s;
  -o-transition: width 2s;
  transition: width 2s;
}

.menu li:hover {
  box-shadow: 15em 0 #20a5dc70 inset;
  
}



nav.mostrar {
  left: 0;
  cursor: pointer;
  background: linear-gradient(to bottom,#efefef,rgb(255, 255, 255) 100%);
  height: 100vh;
}

#mostrar-nav {
  margin-top: 1.5em;
  margin-left: 4em;
  position: absolute;
  background-color: #111;
  width: 47px;
  height: 44px;
  background: url(./images/menu.png);
  z-index: 30;
}

.bg-info {
  background-color: #315cae!important;
}

.containerBar{
  padding: 10% ;
padding-top: 5%;
padding-bottom: 5%;
border-bottom: solid rgba(0, 0, 0, .1);
}
.greyAndCenter, h3 {
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 300px) {
 
 nav{    padding-top: 2em;}
 .menu li {
    font-size: 16px;
    background: linear-gradient(to bottom,#e8e8e8,rgba(255,255,255,.45) 100%);
    }
  h1 {
    padding-top: 0.5em;
    margin-left: 23%;
    font-size: 32px;
  }

  #mostrar-nav {
    margin-top: 1.2em;
    margin-left: 2em;
    width: 32px;
    height: 33px;
}

.pokeballMini {
  height: 34px;
  margin-top: 1.25em;}

  h2,h3 {
    font-size: 1rem;}

    .card {
    
      margin-left: 22%;}

}
@media (min-width: 422px) {

  h3{
    font-size: 18px;
  }

  h2 {
    font-size: 23px;}

    .pokeballMini {
      height: 44px;
      margin-top: 1.4em;}
h1{font-size: 41px;}
#mostrar-nav {
  margin-top: 1.8em;}

  .row {
     margin-right: 0px; 
    margin-left: 0px;
}

.card {

  margin-left: 3%;
  width: 170px;}
}


@media (min-width: 722px) {
  nav{    padding-top: 4em;}
  .menu li {
     font-size: 16px;}
  #mostrar-nav {
    margin-top: 1.2em;
    margin-left: 2em;
    width: 42px;
    height: 42px;
}

h1 {
  padding-top: 11px;
  margin-left: 30%;
  font-size: 52px;
}

.pokeballMini {
  height: 51px;
  margin-top: 1.2em;
}

h2 {
  font-size: 30px;
}
.card {

  margin-left: 2%;
  width: 165px;}
}


@media (min-width: 1022px) {
  h1{    font-size: 60px;}
  .pokeballMini {
    height: 54px;
    margin-top: 1.4em;
}

#mostrar-nav {
  margin-top: 1.7em;
  margin-left: 4em;
  width: 64px;

}
.row {
  padding-left: 5%;}
}



  .hexagon {
    background-image: linear-gradient(to bottom,#20a5dc70, #0c55a7b5, #0c55a7b5 ,#0c55a7b5 ), url(../src/images/hexagonos.png);
    background-repeat: repeat;
    object-fit: contain;
    background-position: -116px 0;
}
.body{
  background-image: linear-gradient(to bottom,#315cae, #315cae, #375bae ,#65aedd ), url(../src/images/hexagonos.png);
  background-repeat: repeat;
  height: -webkit-fill-available;
}

.Electric{
  background: #e6cc10;
  padding: 5px;
  border-radius: 15px;
}

.Water {
  background: #1097e6;
  padding: 5px;
  border-radius: 15px;
  color: white;
}

.Fire{
  background: #e61010;
  padding: 5px;
  border-radius: 15px;
  color: white;
}

.Grass{
  background: #7fbb0a;
  padding: 5px;
  border-radius: 15px;
  color: white;
}

.Bug{
  background: #2e442f;
  padding: 5px;
  border-radius: 15px;
  color: white;
}
.Ice
  {
    background: #43a3ad;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.Ground{
  background: #856404;
  padding: 5px;
  border-radius: 15px;
  color: white;
}

.Rock {
  background: #11100e;
  padding: 5px;
  border-radius: 15px;
  color: white;
}

.Poison{
    background: #970341;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.Psychic{
  background: #ee05c7;
  padding: 5px;
  border-radius: 15px;
  color: white;
}
.Normal{
  background: #6d6b6c;
  padding: 5px;
  border-radius: 15px;
  color: white;
}
.Fighting{  background: #1f0101;
  padding: 5px;
  border-radius: 15px;
  color: white;}
  .Dragon{
    background: #58daa3;
    padding: 5px;
    border-radius: 15px;
    color: white;
  }
  .