@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {

  font-family: 'Raleway', sans-serif;
 

}
/* posicion responsive menu*/
nav {
  background: #F1FFEF;
  padding-right: 0.25em;
  position: absolute;
  left: -18em;
  z-index: 20;
  height: 100%;
  padding-top: 7em;
  box-sizing: border-box;
  transition: all .3s;

}



/*esti.ls pa el cuerpo*/
h1 {    padding-top: .2em;
  color: rgb(255, 254, 254);
  text-align: center;
  font-size: 3.5em;
  margin-bottom: .2em;
  margin-left: 35%;
  }

header {
  height: 20%;
  margin: 0;
  background: linear-gradient(85.05deg, #24CCAA 32.37%, #A8DD9C 89.36%, #A8DD9C 99.67%);
  display: flex;
}
.pokeballMini {
  height: 50px;
  margin-top: 1.25em;
  display: flex;
  margin-left: 0.5em;
}
article {
  padding: 0.5em 0;
  line-height: 1.5;
}

footer {
  margin-top: 2em;
  border-top: solid rgba(0, 0, 0, .1);
  text-align: right;
  padding-top: 1em;
  font-style: 0.8em;
}

footer a {

  color: blanchedalmond;
  text-decoration: none
}

footer a:hover {
  text-decoration: underline;

}

/*fin de estilos geerales del cuerpo*/
.card {
  background: #F1FFEF;
  margin-left: 3%;
  width: 12rem;
  margin-top: 4%;
  margin-bottom: 2%;
  border: none;
}
.list-group-item{
  background: #F1FFEF;
}
.card-title{
  background: linear-gradient(85.05deg, #24CCAA 32.37%, #A8DD9C 89.36%, #A8DD9C 99.67%);
color: white; 
height: 100%;
padding: 0;
font-weight: bold;
font-size: 25px;
text-align: center;
padding-top: .5em;
}
/* .row{
  width: 90% !important;
} */
.card-body {
   flex: none !important; 
   padding: 0 !important; 
}
/*inicio m3nu*/
.menu {
  list-style: none;
  line-height: 42px;
  padding-left: 0;
  width: 15em;

}

.menu a {
  color:#111111;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

.menu li {
  box-shadow: 3px 0#24CCAA inset;
  border-left: 3px solid #24CCAA inset;
  margin-bottom: 5px;
  padding-left: 1.5em;
  --webkit-transition: width 2s;
  -o-transition: width 2s;
  transition: width 2s;
}

.menu li:hover {
  box-shadow: 15em 0 #24CCAA inset;
}



nav.mostrar {
  left: 0;
  cursor: pointer;
}

#mostrar-nav {
  margin-top: 1.5em;
  margin-left: 4em;
  position: absolute;
  background-color: #111;
  width: 47px;
  height: 44px;
  background: url(./images/menu.png);
  z-index: 30;
}

.bg-info {
  background-color: #3fcfa7!important;
}

.containerBar{
  padding: 10% ;
padding-top: 5%;
padding-bottom: 5%;
border-bottom: solid rgba(0, 0, 0, .1);
}